<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.datasource">java:/jboss/jdbc/hibDataSource</property>
		<property name="hibernate.transaction.jta.platform">org.hibernate.engine.transaction.jta.platform.internal.JBossAppServerJtaPlatform</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping resource="com/ta/entities/Journey.hbm.xml" />
		<mapping resource="com/ta/entities/Bus.hbm.xml" />
		<mapping resource="com/ta/entities/Staff.hbm.xml" />
		<mapping resource="com/ta/entities/Passenger.hbm.xml" />
		<mapping resource="com/ta/entities/Ticket.hbm.xml" />
	</session-factory>
</hibernate-configuration>		