<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>TravelAgencyWeb</display-name>
	<listener>
		<listener-class>com.ta.listener.AppInitializationListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ViewNewJourneyServlet</servlet-name>
		<servlet-class>com.ta.servlet.ViewNewJourneyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddJourneyServlet</servlet-name>
		<servlet-class>com.ta.servlet.AddJourneyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewBuyTicketServlet</servlet-name>
		<servlet-class>com.ta.servlet.ViewBuyTicketServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuyTicketServlet</servlet-name>
		<servlet-class>com.ta.servlet.BuyTicketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewNewJourneyServlet</servlet-name>
		<url-pattern>/showNewJourney</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddJourneyServlet</servlet-name>
		<url-pattern>/addJourney</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewBuyTicketServlet</servlet-name>
		<url-pattern>/showBuyTicket</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyTicketServlet</servlet-name>
		<url-pattern>/buyTicket</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/home.jsp</welcome-file>
	</welcome-file-list>
</web-app>