<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="connection.username">hib20150211_user</property>
		<property name="connection.password">welcome1</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">/ehcache.xml</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.generate_statistics">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

		<mapping resource="com/slc/entities/Bus.hbm.xml" />
	</session-factory>
</hibernate-configuration>



